a{
  color: black;
  text-decoration: none;
  text-decoration-color: black;
}
a:hover{
  color: black;
}
.card{
  width: 750px;
  margin: 0px auto 40px auto;
  padding: 20px;
  border-radius: 10px;
}
img{
 border-radius: 10px;
}
.post-image{
  width: 60%;
}
.card-body{
  text-align: auto;
}
.card-body:hover{
  opacity: 0.7;
  background-color: #f5f5f5;
  border-radius: 10px;
}
.card-detail{
  margin-left: 10px;
  margin-bottom: 20px;
}
.menu{
  display: flex;
}
.dropdown{
  text-align: right;
}
.create-form{
  margin: 20px;
}
.update-form{
  margin: 20px;
}
.form-title, .form-content, .form-image{
  margin-bottom: 23px;
}