a{
  color: black;
  text-decoration: none;
  text-decoration-color: black;
}
a:hover{
  color: black;
}
.card{
  width: 750px;
  margin: 0px auto 40px auto;
  padding: 20px;
  border-radius: 10px;
}
.post-link:hover{
  opacity: 0.7;
  color: #808080;
}
img{
 border-radius: 10px;
}
.card-body{
  text-align: auto;
}
.card-detail{
  margin-left: 10px;
  margin-bottom: 20px;
}
.menu{
  display: flex;
}
.dropdown{
  text-align: right;
}
.create-form{
  margin: 20px;
}
