{% extends "base.html" %}

{% block header %}
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <h3>社内SNS</h1>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
      </ul>
      {% if not user.is_authenticated %}
        <div class="col-md-3 text-end">
            <a href="{% url 'login' %}"  class="btn btn-outline-primary me-2">ログイン</a>
            <a href="{% url 'signup' %}"  class="btn btn-outline-primary me-2">アカウント登録</a>
        </div>
      {% else %}
      <div class="col-md-3 text-end">
        <a href="{% url 'logout' %}"  class="btn btn-outline-primary me-2">ログアウト</a>
        <button type="button" class="btn btn-primary">Sign-up</button>
      </div>
      {% endif %}
    </header>
  </div>
{% endblock header %}

{% block content %}
  <div class="container">
      <div class="card w-53" id="card-{{ object.pk}}">
        <div class="card-body">
          <h5 class="card-title">{{ object.title }}</h5>
          <p class="text-muted">{{ object.author }}</p>
          <div class="card-text">
            <p>{{ object.content }}</p>
            <img src="{{ object.sns_image.url }}">
          </div>
        </div>
      </div>
  </div>
{% endblock content %}