{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block customcss %}
    <link href="{% static 'stylesheet.css' %}" rel="stylesheet">
{% endblock customcss %}


{% block content %}
<div class="container">
    <form class="update-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-title">
            {% render_field form.title class="form-control w-50" %}
        </div>

        <div class="form-content">
            {% render_field form.content class="form-control w-50" %}
        </div>

        <div class="form-image">
            {% render_field form.sns_image class="form-control w-50" %}
        </div>

        <a href="{{ request.META.HTTP_REFERER }}" class="btn  btn-outline-secondary" onclick="return confirm('編集した内容は破棄されます。戻りますか？')">戻る</a>
        <input type="submit" class="btn btn-outline-primary" value="編集">
    </form>
</div>
{% endblock content %}