{% extends "base.html" %}
{% load static %}

{% block customcss %}
    <link href="{% static 'stylesheet.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block header %}
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <h3>社内SNS</h1>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">ホーム</a></li>
        <li><a href="{% url "create" %}" class="nav-link px-2 link-dark">ツイート</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">トレンド</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">よくある質問</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">紹介</a></li>
      </ul>
      {% if not user.is_authenticated %}
        <div class="col-md-3 text-end">
            <a href="{% url 'login' %}"  class="btn btn-outline-primary me-2">ログイン</a>
            <a href="{% url 'signup' %}"  class="btn btn-outline-primary me-2">アカウント登録</a>
        </div>
      {% else %}
      <div class="col-md-3 text-end">
        {% comment %} <a href="{% url 'logout' %}"  class="btn btn-outline-primary me-2">ログアウト</a> {% endcomment %}
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="/uploads/default.png" alt="" width="32" height="32" class="rounded-circle me-2">
              <strong>{{ current_user }}</strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="{% url 'profile' current_user.pk %}">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">ログアウト</a></li>
            </ul>
        </div>      
      </div>
      {% endif %}
    </header>
  </div>
{% endblock header %}

{% block content %}
  <div class="container">
    {% if user.is_authenticated %}
      {% for item in object_list %}
            <div class="card w-53" id="card-{{ item.id }}">
                <div class="card-body" id="card-body-{{ item.id }}">
                    <a href="{% url 'detail' item.pk %}">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="text-muted">{{ item.author }}</p>
                        <div class="card-text">
                            <p>{{ item.content | linebreaksbr }}</p>
                            {% if item.sns_image %}
                              <img src="{{ item.sns_image.url }}">
                            {% endif %}
                        </div>
                    </a>
                    <a href="{% url 'good' item.pk %}" class="btn btn-primary">
                        <i class="bi bi-heart"></i>{{ item.good }}
                    </a>
                    <a href="{% url 'read' item.pk %}" class="btn btn-primary">
                      <i class="bi bi-check"></i> {{ item.read }}
                    </a>
                </div>
            </div>
      {% endfor %}
    {% else %}
    <div class="card w-53" id="card-{{ item.id }}">
        <div class="card-body">
            <h1 class="card-title">ログインしてください</h5>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock content %}