{% extends "base.html" %}
{% load static %}

{% block customcss %}
    <link href="{% static 'stylesheet.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block header %}
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <h3>社内SNS</h3>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
      </ul>
      {% if not user.is_authenticated %}
        <div class="col-md-3 text-end">
            <a href="{% url 'login' %}"  class="btn btn-outline-primary me-2">ログイン</a>
            <a href="{% url 'signup' %}"  class="btn btn-outline-primary me-2">アカウント登録</a>
        </div>
      {% else %}
      <div class="col-md-3 text-end">
        {% comment %} <a href="{% url 'logout' %}"  class="btn btn-outline-primary me-2">ログアウト</a> {% endcomment %}
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
              <strong>{{ user.username }}</strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="{% url 'profile' user.pk %}">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">ログアウト</a></li>
            </ul>
        </div>      
      </div>
      {% endif %}
    </header>
  </div>
{% endblock header %}

{% block content %}
  <div class="container">
    {% if user.is_authenticated %}
            <div class="card w-53" id="card-{{ item.id }}">
                <div class="card-body">
                        <h5 class="card-title">プロフィール</h5>
                        <p class="text-muted"></p>
                        <div class="card-text">
                            <p>{{ user.username }}</p>
                        </div>
                </div>
            </div>
    {% else %}
    <div class="card w-53" id="card-{{ item.id }}">
        <div class="card-body">
            <h1 class="card-title">ログインしてください</h5>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock content %}